
/* Imagem do título */

.container img { opacity : 0.5; }

/* Título */

.container p {
position: absolute;
text-align: center;
top: 200px;
right: 600px;
font-size: 50px;
font-family: 'Bree Serif';
color: black;
}

/* Menu */

nav{
  color: white;
}